body {
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(247, 230, 188);
    column-gap: 8em;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}

#sizeCtrl {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 2em;
}

#boardAndInstructions {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.untouched {
    background-color: rgb(236, 234, 234);
    border: 1px solid grey;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    align-self: center;
    width: 450px;
    height: 450px;
    border: 0.35em solid black;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    gap: 0;
}

.touched {
    background-color: rgb(32, 32, 32);
}

.clearBtn {
    width: max-content;
    background-color: rgb(226, 193, 109);
    border: 1px solid rgb(134, 115, 66);
    transition: all 0.07s;
    border-radius: 2.5px;
    font-family: monospace;
    font-size: 1.3em;
    text-align: center;
    align-self: center;
    padding: 0.45em 0.6em 0.45em 0.6em;
}

.clearClicked {
    background-color: rgb(187, 171, 129)
}

.instructions {
    font-family: monospace;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

#instructionsDiv {
    margin-top: 2em;
}