body {
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(247, 230, 188);
    column-gap: 8em;
    row-gap: 0;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    row-gap: 2em;

}

#colorSelect {
    display: flex;
    flex-direction: row;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2em;
    column-gap: 6em;
    justify-content: space-between;
    align-items: center;
}

#colorPicker {
    background-color: grey;
    border-radius: 3px;
    width: 5em;
    height: 2.5em;
    border: none;
}
#sizeCtrl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2em;
}

#boardAndInstructions {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.untouched {
    background-color: rgb(236, 234, 234);
    border: 1px solid grey;
    box-sizing: border-box;
}

.erased {
    background-color: rgb(236, 234, 234);
}

.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    align-self: center;
    width: 500px;
    height: 500px;
    border: 0.4em solid black;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    gap: 0;
    user-select: none;
}

.clearBtn {
    width: max-content;
    background-color: rgb(226, 193, 109);
    border: 1px solid rgb(134, 115, 66);
    transition: all 0.07s;
    border-radius: 2.5px;
    font-family: monospace;
    font-size: 1.3em;
    text-align: center;
    align-self: center;
    padding: 0.45em 0.6em 0.45em 0.6em;
}

.clearClicked {
    background-color: rgb(187, 171, 129)
}

.instructions {
    font-family: monospace;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

